[Unit]
Description=OLED display
After=multi-user.target

[Service]
ExecStart=rm -f /home/pi/oled && /usr/bin/python3 /home/pi/sztehlo-telescope/python/oled.py
Restart=always
RestartSec=5s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target