[Unit]
Description=PI OLED display server service
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/git/sztehlo-telescope/python/oled-web-server
ExecStart=/usr/bin/python3 -m flask --app oled-web-server run --host=0.0.0.0
Restart=always
RestartSec=5s
KillMode=process
TimeoutSec=infinity
User=pi

[Install]
WantedBy=multi-user.target
